{% extends "index.html" %}
{% block body %}
 <div class="text-center col-md-6 col-md-offset-3" id="welcometext">
 <h5 style="font-size:30px;color:#E765C2">Tinka: Storm en steen</h5>
 <p style="font-size:15px;font-family:'Open Sans', Helvetica, Arial, sans-serif;color:#191515;"><b>Verwacht in Maart 2017</b><br>
<br>
<br><br>
<a href="/order_book/" target="_blank"><img src="/static/imgs/tinka_cover_prijs.png" class="img-responsive" id="Tinka cover"><br><br>
<b><a href="/order_book/" target="_blank">Klik hier om te bestellen</a></b><br><br><br>
<br>
<br>
<p style="font-size:15px;font-family:'Open Sans', Helvetica, Arial, sans-serif;"><i>Tinka</i> </p>
</p>
<br>
<br>
<p style="font-size:15px;font-family:'Open Sans', Helvetica, Arial, sans-serif;"><i>Het eerste deel van Tinka is het verhaal over hoe het allemaal begon, 
hoe de half magische wereld waarin wij nu leven tot zijn oorsprong is gekomen. Een verhaal over de oude aarde, toen deze nog uit twee delen bestond en over
de dappere Tinka die in die tijd nog maar slechts een jong meisje was. Onbezorgd. Onbegonnen. Zich niet bewust van de dingen die haar te wachten zouden staan..</i><br>
<br>
<br>
<br>
<br>
</div>
{% endblock %}
