{% extends "index.html" %}
{% block body %}
 <div class="text-center col-md-6 col-md-offset-3" div id="welcome">
 
 <p style="font-size:15px;font-family:'Open Sans', Helvetica, Arial, sans-serif;color:#191515;">Beste bezoeker, 
 hartelijk dank voor het openen van deze website.<br>
Op het moment is deze website aan veranderingen onderhevig, maar alles zou het gewoon moeten doen. <br>
Tevens kunt u mij voor vragen altijd bereiken op mijn emailadres of telefoonnummer (Zie onderaan de pagina of klik op contact bovenin de menubalk).<br>
Bent u op zoek naar <b><i> Tinka: storm en steen </i></b>? U kunt op de bestelpagina uitkomen door in de menubalk op 'Te koop' te klikken om vervolgens naar 'boeken' te gaan<br>
</p>
 </div>
 </div>
 
  <div class="row">
 <div class="text-center col-md-6 col-md-offset-3" div id="welcometext">
 <h5 style="font-size:30px;color:#E765C2">!</h5>
 
 <p style="font-size:15px;font-family:'Open Sans', Helvetica, Arial, sans-serif;color:#191515;"><b>Wie ben ik en wat heeft u aan mij?</b><br>
<br>
Mijn naam is Pim Hoogeveen en ik ben grafisch ontwerper. Van kinds af aan ben ik altijd erg fantasierijk geweest. Deze vrije manier van denken zet ik graag in bij het ontwerpen. Niet alleen ontwerp maar ook het schrijven van verhalen
en gedichten heeft me altijd sterk aangesproken. De combinatie van deze interesses zorgt ervoor dat ik mij durf te specialiseren
in fantasierijke ontwerpen die zich met name op het vertellen van een verhaal richten. Hierbij kunt u bijvoorbeeld denken aan: <b>Boekcovers, albumcovers, opmaak van gedichtbundels en promotiewerk voor dergelijke activiteiten.</b> <br> Maar ook voor alle andere mogelijke
doeleinden waarbij u denkt dat ik misschien de oplossing kan zijn voor uw boodschap kunt u mij gerust een bericht sturen voor een 
vrijblijvend gesprek betreffende de opties. <br>
<br><br>
<img src="static/imgs/voorhetverhaal2.png" class="img-responsive" id="welkomstillustratie"><br>
<br>
<br>
<br>

<b>Waar sta ik voor?</b><br><br>
Ik geloof in promotiewerk dat hoewel het <b>verleidelijk</b> is, ook <i>eerlijk</i> kan zijn. Eerlijkheid tussen een onderneming en haar doelgroep levert naar mijn idee het meest op over de langere termijn. Deze eerlijkheid probeer ik ook terug te brengen tussen u en mij.". <br><br><br>
<br>

<br>


</p>
 </div>
{% endblock %}
