{% extends "index.html" %}
{% block body %}


 <div class="container-fluid">
 <div class="text-center col-md-6 col-md-offset-3" div id="welcome">
 
 <p style="font-size:15px;font-family:'Open Sans', Helvetica, Arial, sans-serif;color:#191515;">Ook het portfolio is onderweg, tot die tijd een paar afbeeldingen die een beleving geven van mijn werk en wereld.
</p>
 </div>
 </div>
 
  <div class="container-fluid">
 <div class="text-center col-md-6 col-md-offset-3" div id="welcometext">
 
 
<br>
<p style="font-size:15px;font-family:'Open Sans';"> <br><b>Pim Hoogeveen - Tinka: Storm en Steen</b><br><br></p>

<img src="/static/imgs/cover_tinka_1.jpg" class="img-responsive"><br><br>
<br>
<p style="font-size:15px;font-family:'Open Sans';"> <br>
<b>Manuel Moyano - Het rijk van Jegorov</b><br><br></p>

<img src="/static/imgs/cover_02.jpg" class="img-responsive"><br>


<p style="font-size:10px;">
Disclaimer:
Dit ontwerp is eigendom van Wil Immink Design. Boek is eigendom van Meridiaan uitgevers. 
Gemaakt tijdens een stage onder begeleiding van Wil Immink Design.
Concept en uitvoering gedaan onder begeleiding van Wil Immink.</p><br>
<br>


<p style="font-size:15px;font-family:'Open Sans';"> <br>
<b>Fotografie</b><br><br></p>

<img src="/static/imgs/brug.jpg" class="img-responsive"><br>
<br>
<br>
<img src="/static/imgs/DSC_4912.jpg" class="img-responsive"><br><br>
<br>
<p style="font-size:15px;font-family:'Open Sans';"> <br>
<b>Pixelated</b><br><br></p><br>
<br>
<br>
<img src="/static/imgs/teacher_model.png" class="img-responsive"><br>
<br>
<br>
<img src="/static/imgs/asbak.gif" class="img-responsive"><br>
<br>
<br>
<img src="/static/imgs/dirty_penny.gif" class="img-responsive"><br>
<br>
<br>
<img src="/static/imgs/dirty_penny_2.gif" class="img-responsive"><br>
<br>
<br>
<img src="/static/imgs/red_diamond_2.gif" class="img-responsive"><br>
<br>
<br>
<img src="/static/imgs/red_diamond.gif" class="img-responsive"><br>
<br>
<br>
<img src="/static/imgs/tear_diamond.gif" class="img-responsive"><br><br>
<br><br>


<p style="font-size:15px;font-family:'Open Sans';"> <br>
<b>Illustrations and game design</b><br><br></p><br>
<br>
<br>
<img src="/static/imgs/energy_2.png" class="img-responsive"><br>
<br>
<br>
<img src="/static/imgs/voorbeeld_g.jpg" class="img-responsive"><br>
<br>
<br>


 </div>
 </div>
 
 {% endblock %}
 
